.insights .before {
  position: absolute;
  opacity: 0.5;
  color: #d9d9d9;
  /* letter-spacing: 20px; */
  left: 50%;
  transform: translateX(-50%);
  font-size: 220px;
  top: -160px;
  z-index: -1;
  text-transform:uppercase ;
}
@media (max-width: 992px) {
  .insights h2::before {
    font-size: 150px;
    top: -50px;
    letter-spacing: 15px;
  }
}
@media (max-width: 767px) {
  .insights h2::before {
    font-size: 70px;
    top: -15px;
    text-align: center;

    letter-spacing: 15px;
  }
}
