.HotelDetails .images img{
    width: 80px;
    height: 60px;
    border-radius: 10px;
        cursor: pointer;
}
.HotelDetails .images img.active{
border: 2px solid white;
}
/* .images img.active {
    border: 2px solid #42A7C3;
    transform: scale(1.1);
  } */
 .HotelDetails a{
  text-decoration: none;
 }
  .landing-section {
    position: relative;
    z-index: 1; /* تأكد من أن القسم له z-index أقل من الصور */
  }
  
  .card-body-details{
    border-right: 1px solid #D9D9D9;
    width: 75%;
  }
  .card-text-price{
    font-weight:700;
    margin-left: 15px;
  }
  .HotelDetails .one {
    position: relative; 
    margin-bottom: 40px;/* لجعل العنصر الرئيسي مرجعاً للموقع */
  }
  
  .HotelDetails  .one::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 600px;
    height: 2px; 
    background-color: #D9D9D9; 
  }
  @media (max-width: 992px) {
    .card-body-details{
      border-right: transparent;
    }
.HotelDetails  .one::after {
          width: 100px;
        }
            .all{
display: flex;
flex-direction: column;
            }
    }