




.card-body-details {
  border-right: 1px solid #d9d9d9;
  width: 75%;
}
.card-text-price {
  font-weight: 700;
  margin-left: 15px;
}



@media (max-width: 992px) {
  .card-body-details {
    border-right: transparent;
  }
  .HotelDetails .one::after {
    width: 100px;
  }
  .all {
    display: flex;
    flex-direction: column;
  }
}
